body {
  margin: 0;
  padding: 1%;
  font-family: sans-serif;
}
h3{
  margin: 0;
}
h4{
  margin: 0;
  margin-top: 1%;
}
#grid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}
#grid > div {
  padding: 1%;
  border-style: solid;
  border-width: 2px;
  box-shadow: 10%;
  text-align: center;
}
